* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  touch-action: none;
  user-select: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  /* min-width:100vw;min-height:100vh; */
}

#app {
  display: grid;
  grid-template-rows: 56px 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #353E3D;
  filter: brightness(1.15);
}

#scene {
  background: #D8D8D8;
}

#appHeader {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns:   1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  color: #D8D8D8;
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
}

#headerContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
}

#header-right {
  display: flex;
  flex-direction: row;
justify-content:  flex-start;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 300;
  padding: 8px;
  overflow: hidden;

}

#header-right > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  /* height: 100%; */
  font-size: 16px;
  font-weight: 300;
  /* padding: 8px; */

}

.coordsDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
}

/* #coordsDisplay2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
} */

#appBody {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
}

#appFooter {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
}

#trackpad {
  background: #697176;
}

#trackpad-controls {
  background: #444E54;
}

#trackpad-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
}

#actor {
  fill: #296AB7B3;
  stroke: #201E1D;
  transition: all 0.025s ease-out, fill 0.4s;
  /* transition: fill 0.4s; */
}

#actor.captured {
  fill: #DB2323D4;
}

#pointer-marker {
  fill: #FAFAFA75;
  stroke: #211F1F;
  stroke-width: 0.5;
  transition:  fill 0.06s ease-out, stroke 0.06s ease-out;
}

#pointer-marker.active {
  fill: #FAFAFA90;
  /* transition: 0.26s; */
}

#crosshair-path {
  fill: #0D0D0D7A;
  stroke: #FFFFFFBF;
  stroke-width: 0.55;
  stroke-opacity: 0.85;
  stroke-linecap: round;
  stroke-linejoin: round;
  trbansition:  stroke 0.15s, filter 0.15s;
  /* trbansition: 0.04s ease-out, stroke 0.15s, filter 0.15s; */
  filter: drop-shadow(0 0 1.25px #EDD1C2DE) invert(1) contrast(1.35);
}

#crosshair-path.armed {
  fill: #EEE1E10D;
  stroke: #BB2828CC;
  filter: drop-shadow(0 0 0.25px #FFF4F4) invert(0) contrast(1.5);
}

#crosshair-path[data-has-target=true] {
  fill: #FFFFFF00;
  stroke: #383535;
  filter: drop-shadow(0 0 0.24px #FFB7B7) invert(1) contrast(1.5);
}