* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  touch-action: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  /* min-width:100vw;min-height:100vh; */
}

#app,
.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #283038;
  padding: 0 0 0 0;
color: #F3F3F3;
  /* min-width:100vw;min-height:100vh; */
}

#app-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 4px;
  padding: 8px;
}

#app-header input {
  font-size: 20px;
  padding: 6px 4px 2px;
  background: none;
  color: #F3F3F3;
  border: none;
  border-bottom: 1px solid #F3F3F3;
  /* border-radius: 7px; */
}

svg {
  /* background: #4C515B; */
  touch-action: none;
}

#squiggly {
  fill: none;
  /* stroke: #D2D2D2; */
  /* stroke: #C9C9C9; */
  stroke-width: 1;
}

.axis {
  stroke: #00000090;
  stroke-width: 0.5;
  backdrop-filter: invert(1);
}

.shape-container {}

.shape-container[data-selected=false]>.shape-container-background {
  fill: transparent;
  stroke: transparent;
  stroke-width: 0.5;
}

.shape-container[data-selected=true]>.shape-container-background {
  fill: #00000060;
  stroke: #FF00FF85;
  stroke: #FF00FF85;
  stroke-width: 0.75;
  stroke: #141414;
}

/* .shape-container[data-selected=true]>.shape-container-background {} */
.shape-element {
  stroke: #C9C9C9;
}

.curve {
  stroke: #E8C313;
  fill: transparent;
}

.shape-container[data-selected=false]>.shape-element {
  stroke: #C9C9C9;
}

.shape-container[data-selected=true] .shape-element {}

#surface-layer {
  filter: blur(0.075px);
}

.hud-text {
  font-size: 0.4em;
}


.circ1 {
  fill: #D13D3D;
}

#dot {
  /* fill: #F7F7F7; */
  fill: #F7F7F7;
  stroke: #FFFFFF;
  stroke-width: 2px;
  /* filter: invert(100%); */
}