* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  user-select: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}
#app-body{
  /* height: 100%; */
}

#debug-console {
  width: 100%;
  height: 40px;
  /* overflow: hidden; */
}

svg {
  border: 1px solid black;
  touch-action: none;
}

.bbox {
  fill: #FFFFFF00;
  stroke: #242C2E;
  stroke-width: 0.2;
}

.hex {
  fill: #18A8C3BF;
  stroke: #41E680;
  stroke-width: 0.2;
}

.star path {
  fill: #C39818BF;
  stroke: #5741E6;
  stroke-width: 0.2;
  /* filter: hue-rotate(0); */
  /* transition: 1s ease-in; */
  
}

.vertex {
  fill: #C31818;
  stroke: #FFFFFF;
  stroke-width: 0.4;
  /* filter: hue-rotate(0); */
  /* transition: 1s ease-in; */
  
}

.origin {
  fill: transparent;
  stroke: #C31818;
  stroke-width: 2;
  /* filter: opacity(0.5); */
  /* transition: 1s ease-in; */
  
}

.star.active path {
  /* fill: #C31818; */
  /* transform: translate(0,0) rotate(720deg) scale(3); */
  /* transition: 2s ease-out; */
  
}

/* .star.huge path {
  fill: #C31818;
  transform: translate(0,0) rotate(720deg) scale(5);
  transition: 1.5s ease-out;
  filter: hue-rotate(720);

} */

.hexbounds {
  fill: #D02887;
  stroke: #9C9C9C;
  stroke-width: 0.2;
  /* color: ; */
}