* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  touch-action: none;
  user-select: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  /* min-width:100vw;min-height:100vh; */
}

#app {
  display: grid;
  grid-template-rows: 48px 1fr 280px;
  grid-template-columns: 1fr;
  gap: 0px;

  width: 100%;
  height: 100%;
  overflow: hidden;
  /* padding: 6px; */
  /* min-width:100vw;min-height:100vh; */
}

#appHeader {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr;
  gap: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 4px;
  background: #81A528;
  white-space: nowrap;
  /* min-width:100vw;min-height:100vh; */
}

.plot-point {
  fill: #11DF4820;
  stroke: #E2E2E280;
  stroke-width: 0.1;
}

.plot-point-neg {
  fill: #7E11DF20;
  stroke: #E2E2E280;
  stroke-width: 0.1;
  
}

#headerContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  /* min-width:100vw;min-height:100vh; */
}

#coordsDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  /* min-width:100vw;min-height:100vh; */
}

#appBody {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0px;

  width: 100%;
  height: 100%;
  background: #E9E9E9;
  /* min-width:100vw;min-height:100vh; */
}

#appFooter {
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0px;

  width: 100%;
  height: 100%;
  background: #81A528;
  /* min-width:100vw;min-height:100vh; */
}

#trackpad {
  background: #697176;
}

#trackpad-controls {
  background: #444E54;
}

#trackpad-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
}

#actor {
  /* fill: #294BB7; */
  transition: 0.1s;
}

#pointer-marker.active {
  fill: #FAFAFA;
  transition: 0.1s;
}

#crosshair-path {
  /* fill: #FAFAFA; */
  /* transition: 0.1s; */
}